<nav class="white">
  <div class="nav-wrapper">
    <a routerLink="/negocios" class="brand-logo black-text center">{{nombreNegocio | uppercase}}</a>
    <a href="#" data-target="slide-out" class="sidenav-trigger black-text "><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/negocios" class="black-text">
          <i class="material-icons left">domain</i>
          MIS NEGOCIOS
        </a>
      </li>
    </ul>
  </div>
</nav>