<app-sidebar></app-sidebar>
<main>
    <app-navbar [nombreNegocio]="cappn_userkey.nombrenegocio"></app-navbar>
    <!-- welcome.component.html -->
    <div class="container mt-5">
        <div class="row">

            <div class="col s12 ">

                <h3 class="card-title center">Bienvenido al Sistema de Gestión de Negocios de CALUCO APP</h3>
                <p>¡Bienvenido al Sistema de Gestión de Negocios! Nuestro sistema está diseñado para
                    ayudarte a administrar
                    eficientemente tu empresa, maximizar tus ganancias y simplificar tus tareas diarias.
                </p>
                <p>Con nuestras características innovadoras y fáciles de usar, podrás:</p>
                <ul class="collection">
                    <li class="collection-item">Gestionar clientes y contactos</li>
                    <li class="collection-item">Administrar inventario y productos</li>
                    <li class="collection-item">Realizar seguimiento de ventas y finanzas</li>
                    <li class="collection-item">Generar informes detallados y análisis</li>
                </ul>
                <p>No esperes más, ¡únete a nosotros y lleva tu negocio al siguiente nivel!</p>
            </div>
        </div>
    </div>





</main>

<app-footer></app-footer>