<div class="col s12">
    <h3 class="pink-text">Ticket's</h3>

</div>

<div class="col s12 l2">
    <br>
    <button class="btn pink col s12" (click)="nuevoTicket()">
        <i class="material-icons left">add</i>
        Nuevo Ticket
    </button>
</div>

<div class="input-field col s12 l5 offset-l5">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text"  [(ngModel)]="filtroTickets">
    <label for="icon_prefix">Buscar</label>
</div>

<div class="col s12">
    <table class="table">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Ticket</td>
                <td>Total</td>
                <td>Usuario</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of dataSource | filter: filtroTickets" (click)="comprobanteSeleccionado(d)" style="cursor: pointer;">
                <td>{{d.fecha | date:'short'}}</td>
                <td>{{d.id}}</td>
                <td>
                    <strong>{{d.total | currency}}</strong>
                </td>
                <td>{{d.idusuario}}</td>
            </tr>
        </tbody>
    </table>
</div>