<app-sidebar></app-sidebar>
<main>
    <app-navbar [nombreNegocio]="cappn_userkey.nombrenegocio"></app-navbar>



    <div class="container ">
        <div class="row">

       

            <!-- Seleccion de sucursal -->

            <div class="col s12" *ngIf="idSubOpcionSeleccionada==''">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">store</i>
                            {{nombreSucursal??' Seleccione Sucursal'}}
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col l6 s12 " *ngFor="let s of cappn_userkey.sucursales">
                                    <div class="container">
                                        <div class="row ">
                                            <button class="btn pink col s12" type="button"
                                                (click)="obtenerPermisosPorSucursal(s)">
                                                <i class="material-icons left">store</i>
                                                {{s.nombre}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <ng-container *ngIf="idSucursal!=''">
                        <li *ngFor="let d of permisosPorSucursal">
                            <div class="collapsible-header"><i class="material-icons">point_of_sale</i>{{d.opcion}}
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col l6 s12 " *ngFor="let s of d.subopciones">
                                        <div class="container">
                                            <div class="row ">
                                                <button class="btn pink col s12" type="button"
                                                    (click)="seleccionarSubOpcion(s)">
                                                    <i class="material-icons left">receipt_long</i>
                                                    {{s.idsubopcion}}
                                                    -{{s.subopcion}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>

 

            <app-tickets [idSucursal]="idSucursal" *ngIf="idSucursal!='' && idSubOpcionSeleccionada==1"></app-tickets>




            
        </div>







    </div>
</main>


<app-footer></app-footer>