<app-sidebar></app-sidebar>
<main>
    <app-navbar [nombreNegocio]="cappn_userkey.nombrenegocio"></app-navbar>



    <div class="container">
        <div class="row">

            <div class="col s12 m12 l4">
                <br><br>
                <h1 class="pink-text">{{nombreSucursal | truncate: 10}}</h1>
            </div>

            <div class="col s12 l4 m6 ">
                <br>
                <label>¿Que deseas hacer con {{nombreSucursal | truncate: 10}}?</label>
                <select class="browser-default" name="idopcion" [(ngModel)]="idOpcionSeleccionada"
                    (change)="changeSelectOpcion()">
                    <option value="" disabled selected>Selecciona Opción</option>
                    <option *ngFor="let d of permisosPorSucursal" value="{{d.idopcion}}">{{d.opcion}}</option>
                </select>
            </div>
            <div class="col s12 l4 m6">
                <br>
                <label>¿Que deseas ver?</label>
                <select class="browser-default" [(ngModel)]="idSubOpcionSeleccionada" (change)="refrescarLista()">
                    <option value="" disabled selected>Selecciona Opción</option>
                    <option *ngFor="let d of opcionesPorPermiso" value="{{d.idsubopcion}}">{{d.subopcion}}</option>

                </select>
            </div>



        </div>

        <!--     <app-comprobante-lista 
        (clickItem)="clickItem($event)"
        [idSubOpcion]="idSubOpcionSeleccionada" 
        [idSucursal]="idSucursal"  
        *ngIf="idOpcionSeleccionada && idSubOpcionSeleccionada && pantalla=='lista'"
        >
        </app-comprobante-lista>
        <app-comprobante-form [idNegocio]="cappn_userkey.idnegocio" *ngIf="idOpcionSeleccionada && idSubOpcionSeleccionada && pantalla=='form'"></app-comprobante-form>
 -->

        <app-tickets [idSucursal]="idSucursal" *ngIf="idSubOpcionSeleccionada==1"></app-tickets>





    </div>
</main>


<app-footer></app-footer>