<app-sidebar></app-sidebar>
<main>

    <app-navbar></app-navbar>

    <div class="container-fluid mt-1">

        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test1">Inventario</a></li>
                    <li class="tab col s3"><a href="#test2">Productos</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <div class="row mt-2">
                    <div class="col s6 l3 offset-l6">
                        <!-- <a class="waves-effect waves-light btn grey darken-3 col s12">
                            <i class="material-icons right">add</i>
                            Agregar Categoria
                        </a> -->
                    </div>
                    <div class="col s6 l3 ">
                        <a class="waves-effect waves-light btn blue darken-3 col s12" (click)="abrirModalFormulario()">
                            <i class="material-icons right">add</i>
                            Agergar inventario</a>
                    </div>
                    <div class="col l6 m6 s12 ">
                        <div class="card ">
                            <div class="row">
                                <div class="col s3 l2 center">
                                    <div class="redondo grey lighten-5">
                                        <i class="material-icons ico-balance grey-text text-darken-3">sell</i>
                                    </div>
                                </div>
                                <div class="col s9 l10">
                                    <p class="m0 grey-text text-darken-3" style="margin-top: 20px;">
                                        <strong>Total de productos</strong>
                                    </p>
                                    <h5 class="m0 grey-text text-darken-4" style=" margin-bottom: 20px;">
                                        {{productos.length}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l6 m6 s12 ">
                        <div class="card ">
                            <div class="row">
                                <div class="col l2 s3  center">
                                    <div class="redondo green lighten-5">
                                        <i class="material-icons ico-balance green-text text-darken-3">paid</i>
                                    </div>
                                </div>
                                <div class="col l10 s9 ">
                                    <p class="m0 grey-text text-darken-3" style="margin-top: 20px;">
                                        <strong>Costo total de inventario</strong>
                                    </p>
                                    <h5 class="m0 green-text text-darken-4" style=" margin-bottom: 20px;">{{sumar()
                                        |currency}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col l4 offset-l8 m6 offset-m6  s12  ">
                        <i class="material-icons prefix">qr_code_scanner</i>
                        <input id="icon_prefix" type="text" [(ngModel)]="filtro">
                        <label for="icon_prefix">Buscar</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l2 m3  s6 " *ngFor="let d of productos | filter : filtro">
                        <div class="card cursor" (click)="abrirModalPredetalle(d)">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 center">
                                        <img src="assets/images/logo_gris.jpg" alt="Producto" height="100px">
                                    </div>
                                    <div class="col s12 center">
                                        <p>
                                            <strong>
                                                {{d.costo | currency}}
                                            </strong>
                                        </p>
                                    </div>
                                    <div class="col s12">
                                        <h6 class="titulo-producto-card">{{d.nombre}}</h6>
                                    </div>

                                    <div class="col s12 center">
                                        <p >
                                            <i class="fa fa-cubes" aria-hidden="true"></i>
                                            <strong>
                                                {{d.existencias}} <br>
                                            Disponibles
                                            </strong>
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 center grey lighten-4" *ngIf="(productos | filter : filtro).length==0">
                        <br><br>
                        <h5>No hay registros...</h5>
                        <br><br>
                    </div>
                </div>
            </div>
            <div id="test2" class="col s12">
            [EN DESARROLLO]
            </div>
        </div>


    </div>




    <!-- Modal -->
    <div class="modal  fade" id="modalFormInventario" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form class="modal-content" [formGroup]="formGroup" (ngSubmit)="salvarCambios()">
            <i class="material-icons right cursor" (click)="cerrarModalFormulario()">cancel</i>

            <div class="container">
                <div class="row">

                    <div class="col s12">
                        <h5 class="center">
                            <strong>Inventario</strong>

                        </h5>
                    </div>
                    <div class="input-field col s12 l12">
                        <i class="material-icons prefix">keyboard_alt</i>
                        <input id="nombre" type="text" name="nombre" formControlName="nombre">
                        <label for="nombre" [ngClass]="{'active':formGroup.value.id}">Nombre del producto *</label>
                    </div>

                    <div class="input-field col s12 l12">
                        <i class="material-icons prefix">qr_code_scanner</i>
                        <input id="codigo" type="text" name="codigo" formControlName="codigo">
                        <label for="codigo" [ngClass]="{'active':formGroup.value.id}">Código de barras</label>
                    </div>

                    <div class="input-field col s12 l12">
                        <i class="material-icons prefix">description</i>

                        <textarea type="text" class="materialize-textarea" name="descripcion" id="descripcion"
                            formControlName="descripcion">
                        </textarea>
                        <label for="descripcion" [ngClass]="{'active':formGroup.value.id}">Descripción</label>
                    </div>

                    <div class="col s12">
                        <button type="submit" class="btn black col s12" [disabled]="formGroup.invalid">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Guardar Inventario
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="modal1" class="modal" id="predetalleInventario">
        <div class="modal-content">
            <i class="material-icons right cursor" (click)="cerrarModalFormulario()">cancel</i>
            <!--    <h4 class="modal-title title center" id="staticBackdropLabel">
                Detalle de inventario
                
            </h4> -->

            <div class="container">
                <div class="row">

                    <div class="col s12 center">
                        <h5>
                            <strong>{{formGroup.value.nombre}}</strong>
                        </h5>
                        <p>{{formGroup.value.descripcion}}</p>

                    </div>
                    <div class="col s12 center">
                        <img src="assets/images/logo_gris.jpg" alt="Producto" height="100px">
                    </div>
                    <div class="col s12 grey lighten-4">
                        <p style="margin-top: 20px;">
                            <span>
                                <i class="material-icons left">qr_code_scanner</i>
                                Código de barras
                            </span>
                            <strong class="right">{{formGroup.value.codigo}}</strong>
                        </p>
                        <p>
                            <span>
                                <i class="material-icons left">sell</i>
                                Disponibles
                            </span>
                            <strong class="right">{{formGroup.value.existencias }}</strong>
                        </p>
                        <p>
                            <span>
                                <i class="material-icons left">point_of_sale</i>
                                Costo
                            </span>
                            <strong class="right">{{formGroup.value.costo | currency}}</strong>
                        </p>
                        <p style="margin-bottom: 20px;">
                            <span>
                                <i class="material-icons left">paid</i>
                                Inversión
                            </span>
                            <strong class="right">
                                {{stringToNumber(formGroup.value.costo) *
                                stringToNumber(formGroup.value.existencias)
                                | currency}}
                            </strong>
                        </p>
                    </div>
                    <div class="col m6 s12 ">
                        <button class="waves-effect waves-light btn black col s12 mt-5"
                            (click)="abrirModalFormulario()">
                            <i class="material-icons right">sell</i>
                            Editar Inventario
                        </button>
                    </div>
                    <div class="col m6 s12 ">
                        <a class="waves-effect waves-light btn green col s12 mt-5"
                            [routerLink]="['/inventario', idNegocio, 'stock', formGroup.value.id]">
                            <i class="material-icons right">settings</i>
                            Ajustar Disponible
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal  fade" id="modalFormStock" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form class="modal-dialog modal-lg" [formGroup]="formGroupStock" (ngSubmit)="salvarCambiosStock()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title" id="staticBackdropLabel">Ajuste de Stock</h5>
                    <button type="button" class="close" (click)="cerrarModalFormularioStock()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="" class="text-secondary">Producto</label>
                            <input type="text" class="form-control form-control-sm" name="nombre" readonly
                                formControlName="nombre" placeholder="Eje: 1000">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="" class="text-secondary">Cantidad de entrada</label>
                            <input type="number" class="form-control form-control-sm" name="entrada"
                                formControlName="entrada" placeholder="Eje: 1000">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="" class="text-secondary">Cantidad de salida</label>
                            <input type="number" class="form-control form-control-sm" name="salida"
                                formControlName="salida" placeholder="Eje: 1000">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="" class="text-secondary">Costo por Unidad</label>
                            <input type="number" class="form-control form-control-sm" name="costo"
                                formControlName="costo" placeholder="Eje: $50.00">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="descripcion" class="text-secondary">Descripción</label>
                            <select name="descripcion" id="descripcion" class="form-control form-control-sm"
                                formControlName="descripcion">
                                <option value="Compra">Compra</option>
                                <option value="Venta">Venta</option>
                                <option value="Vencimiento">Vencimiento</option>
                                <option value="Devolución">Devolución</option>
                                <option value="Otro no clasificado">Otro no clasificado</option>
                            </select>
                            <!-- <textarea class="form-control form-control-sm" name="descripcion"
                            placeholder="Por compra, venta, vencimiento, etc. de producto"
                            formControlName="descripcion">
                        </textarea> -->
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-warning" role="alert">
                                Para realizar esta operación, es necesario realizar un ajuste de costos a nivel
                                contable, lo cual implica un consumo más significativo de recursos. Actualmente, tu
                                negocio cuenta con un perfil de tipo <strong>COMMUNITY</strong>, razón por la cual esta
                                acción conlleva un costo de <strong>$0.09</strong>. Esto se debe a que aún no has
                                adquirido el plan <strong>PREMIUM</strong>, el cual te permite realizar ajustes
                                contables de manera más flexible y eficiente.
                                Haz clic aquí si estás interesado en obtener más información sobre el plan
                                <strong>PREMIUM</strong>.
                            </div>


                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" (click)="cerrarModalFormularioStock()">
                        <i class="fa fa-close" aria-hidden="true"></i>
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-sm btn-dark">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </form>
    </div>

    <app-footer></app-footer>
</main>