<app-navbar></app-navbar>

<div class="container-fluid  bg-light mb-4  pb-5">
    <div class="container" *ngIf="dataNegocio">
        <div class="row">
            <div class="col-lg-12 ">
                <h3 class="mt-4 title">
                    <i class="fa fa-arrow-left i-link" aria-hidden="true" [routerLink]="['/negocios', idNegocio]"></i>
                    {{dataNegocio.negocio.nombre}}
                </h3>
            </div>

        </div>

        <div class="row mt-0">
            <div class="col-lg-12 ">
                <hr>
                <h3 class=" title mt-4"> INVENTARIOS </h3>
            </div>


            <div class="col-lg-2">
                <button type="button" class="btn btn-dark btn-sm btn-block mt-3 mb-3" (click)="abrirModalFormulario()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Nuevo
                </button>
            </div>
            <div class="col-lg-4 offset-lg-6">
                <input type="text" class="form-control form-control-sm mt-3 mb-3" placeholder="Buscar">
            </div>

            <div class="col-lg-12 ">
                <table class="table table-hover table-sm">
                    <thead class="thead-white">
                        <tr>
                            <th scope="col" colspan="3"></th>
                            <th scope="col" >Total de Inventario:</th>
                            <th scope="col">{{sumar() |currency}}</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col" class="text-center">Existencias</th>
                            <th scope="col">Costo U.</th>
                            <th scope="col">Total de Inventario</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr *ngFor="let d of productos">

                            <th scope="row" class="text-center">

                                {{d.codigo==''?'-':d.codigo}}

                               
                            </th>
                            <td>
                                <p class="mb-0">

                                    <button type="button" class="btn btn-link btn-sm"
                                        (click)="enviarDataAFormulario(d)">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                        {{d.nombre}}
                                    </button>



                                </p>

                                <p class="lead text-min ">
                                    <i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i>
                                    {{d.descripcion==''?'N/A':d.descripcion}}
                                </p>
                            </td>
                            <td class="text-center">
                                <a [routerLink]="['/negocios', idNegocio, 'stock', d.id]">
                                    <i class="fa fa-cubes" aria-hidden="true" ></i>
                                    {{d.existencias}}
                                </a>
                            </td>
                            <td>
                                {{d.costo | currency}}
                            </td>
                            <td>
                                {{d.existencias * d.costo | currency}}
                            </td>

                        </tr>
                        <tr *ngIf="productos.length==0">
                            <td class="text-center" colspan="10">
                                No hay registros
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal  fade" id="modalFormInventario" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="modal-dialog modal-lg" [formGroup]="formGroup" (ngSubmit)="salvarCambios()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="staticBackdropLabel">Invertario</h5>
                <button type="button" class="close" (click)="cerrarModalFormulario()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control form-control-sm" name="codigo" formControlName="codigo"
                            placeholder="Barcode Eje: 0000000">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control form-control-sm" name="nombre"
                            placeholder="Nombre del producto Eje: Aceite Valvoline 10w30 1 GAL"
                            formControlName="nombre">
                    </div>
                    <div class="col-md-12 form-group">
                        <textarea type="text" class="form-control form-control-sm" name="descripcion"
                            placeholder="Descipción del producto" formControlName="descripcion">
                        </textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" (click)="cerrarModalFormulario()">
                    <i class="fa fa-close" aria-hidden="true"></i>
                    Cerrar
                </button>
                <button type="submit" class="btn btn-sm btn-dark">
                    <i class="fa fa-save" aria-hidden="true"></i>
                    Guardar Cambios
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal  fade" id="modalFormStock" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="modal-dialog modal-lg" [formGroup]="formGroupStock" (ngSubmit)="salvarCambiosStock()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="staticBackdropLabel">Ajuste de Stock</h5>
                <button type="button" class="close" (click)="cerrarModalFormularioStock()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="" class="text-secondary">Producto</label>
                        <input type="text" class="form-control form-control-sm" name="nombre" readonly
                            formControlName="nombre" placeholder="Eje: 1000">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="" class="text-secondary">Cantidad de entrada</label>
                        <input type="number" class="form-control form-control-sm" name="entrada"
                            formControlName="entrada" placeholder="Eje: 1000">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="" class="text-secondary">Cantidad de salida</label>
                        <input type="number" class="form-control form-control-sm" name="salida" formControlName="salida"
                            placeholder="Eje: 1000">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="" class="text-secondary">Costo por Unidad</label>
                        <input type="number" class="form-control form-control-sm" name="costo" formControlName="costo"
                            placeholder="Eje: $50.00">
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="descripcion" class="text-secondary">Descripción</label>
                        <select name="descripcion" id="descripcion" class="form-control form-control-sm" formControlName="descripcion">
                            <option value="Compra">Compra</option>
                            <option value="Venta">Venta</option>
                            <option value="Vencimiento">Vencimiento</option>
                            <option value="Devolución">Devolución</option>
                            <option value="Otro no clasificado">Otro no clasificado</option>
                        </select>
                        <!-- <textarea class="form-control form-control-sm" name="descripcion"
                            placeholder="Por compra, venta, vencimiento, etc. de producto"
                            formControlName="descripcion">
                        </textarea> -->
                    </div>
                    <div class="col-lg-12">
                        <div class="alert alert-warning" role="alert">
                            Para realizar esta operación, es necesario realizar un ajuste de costos a nivel contable, lo cual implica un consumo más significativo de recursos. Actualmente, tu negocio cuenta con un perfil de tipo <strong>COMMUNITY</strong>, razón por la cual esta acción conlleva un costo de <strong>$0.09</strong>. Esto se debe a que aún no has adquirido el plan <strong>PREMIUM</strong>, el cual te permite realizar ajustes contables de manera más flexible y eficiente.
                            Haz clic aquí si estás interesado en obtener más información sobre el plan <strong>PREMIUM</strong>.
                        </div>
                        

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" (click)="cerrarModalFormularioStock()">
                    <i class="fa fa-close" aria-hidden="true"></i>
                    Cerrar
                </button>
                <button type="submit" class="btn btn-sm btn-dark">
                    <i class="fa fa-save" aria-hidden="true"></i>
                    Guardar Cambios
                </button>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>