<div class="row">
    <div class="col s12">
        <h4 class="pink-text">Ticket's</h4>
    </div>
    <div class="col l12">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>No. Ticket</th>
                    <th>Monto</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td>Fecha</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="fixed-action-btn">
    <button class="btn-floating btn-large waves-effect waves-light pink ">
        <i class="material-icons">add</i>
    </button>
</div>