<ul id="slide-out" class="sidenav sidenav-fixed  ">

    <li>
        <div class="user-view center">
            <div class="background">
                <div class="pink" style="height: 100%;">

                </div>
            </div>
         

            <div class="redondo pink lighten-5 m0 p-absolute">
                <i class="material-icons ico-balance pink-text text-darken-3">person</i>
            </div>



            <a ><span class="white-text name">{{cappn_userkey.nombrecompleto}}</span></a>
            <a ><span class="white-text email">{{cappn_userkey.rol}} | {{cappn_userkey.usuario}}</span></a>
    

            <div class="center">
                <img src="assets/images/logo_CAPP_w.png" alt="Logo" class="logo" height="70px">
            </div>
        </div>
    </li>


    <li><a class="subheader">Gestión de Negocio</a></li>

    <li routerLinkActive="active pink">
        <a [routerLink]="['/negocios']" routerLinkActive="white-text">
            <i class="material-icons " routerLinkActive="white-text">addchart</i>
            ESTADISTICA
        </a>
    </li>

    <li routerLinkActive="active pink">
        <a class="sidenav-close" [routerLink]="['/socios']" routerLinkActive="white-text">
            <i class="material-icons" routerLinkActive="white-text">groups</i>
            PARTNERS
        </a>
    </li>

    <li routerLinkActive="active pink">
        <a class="sidenav-close" [routerLink]="['/inventario']" routerLinkActive="white-text">
            <i class="material-icons " routerLinkActive="white-text">view_in_ar</i>
            INVENTARIO
        </a>
    </li>


    <li><a class="subheader">Sucursales</a></li>
    <li routerLinkActive="active pink" *ngIf="cappn_userkey.sucursales">
        <a *ngFor="let d of cappn_userkey.sucursales" href="#" [routerLink]="['/sucursal']"
            routerLinkActive="white-text">
            <i class="material-icons" routerLinkActive="white-text">store</i>  
            {{d.nombre}} 
        </a>
    </li>


    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Administración</a></li>
    <li>
        <a href="#!">
            <i class="material-icons">settings</i>
            [EN DESARROLLO ]
            <!--  Configurar Negocio -->
        </a>
    </li>
    <li>
        <a href="#!">
            <i class="material-icons">people</i>
            [EN DESARROLLO ]
            <!--   Empleados -->
        </a>
    </li>
    <li>
        <a href="#!">
            <i class="material-icons">manage_accounts</i>
            <!--   Usuarios -->
            [EN DESARROLLO ]
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li>
        <a href="#!" class="red-text">
            <i class="material-icons red-text">logout</i>
            Cerrar sesión
        </a>
    </li>
</ul>