<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="center mt-5">
            <img src="assets/images/logo_CAPP.png" alt="Logo" class="logo" height="70px">
        </div>

    </li>
    <li>
        <div class="divider"></div>
    </li>

    <li><a class="subheader">Gestión de Negocio</a></li>

    <li routerLinkActive="active black">
        <a [routerLink]="['/negocios', idNegocio]" routerLinkActive="white-text">
            <i class="material-icons " routerLinkActive="white-text">addchart</i>
            [EN DESARROLLO ]
        </a>
    </li>

    <li routerLinkActive="active black">
        <a class="sidenav-close" [routerLink]="['/socios', idNegocio]" routerLinkActive="white-text">
            <i class="material-icons" routerLinkActive="white-text">groups</i>
            PARTNERS (SOCIOS)
        </a>
    </li>

    <li routerLinkActive="active black">
        <a class="sidenav-close" [routerLink]="['/inventario', idNegocio]" routerLinkActive="white-text">
            <i class="material-icons " routerLinkActive="white-text">view_in_ar</i>
            INVENTARIO
        </a>
    </li>

   
    <li><a class="subheader">Sucursales</a></li>
    <li routerLinkActive="active black" *ngIf="dataNegocio">
        <a  *ngFor="let d of dataNegocio.sucursales" [routerLink]="['/negocios', idNegocio, d.nombre, d.id]" routerLinkActive="white-text">
            <i class="material-icons" routerLinkActive="white-text">store</i>
            [EN DESARROLLO ]
            <!-- {{d.nombre}} -->
        </a>
    </li>
   

    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Administración</a></li>
    <li>
        <a href="#!">
            <i class="material-icons">settings</i>
            [EN DESARROLLO ]
           <!--  Configurar Negocio -->
        </a>
    </li>
    <li>
        <a href="#!">
            <i class="material-icons">people</i>
            [EN DESARROLLO ]
          <!--   Empleados -->
        </a>
    </li>
    <li>
        <a href="#!">
            <i class="material-icons">manage_accounts</i>
          <!--   Usuarios -->
          [EN DESARROLLO ]
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li>
        <a href="#!" class="red-text">
            <i class="material-icons red-text">logout</i>
            Cerrar sesión
        </a>
    </li>
</ul>