<app-sidebar></app-sidebar>
<main *ngIf="dataNegocio">
    <app-navbar [nombreNegocio]="dataNegocio.negocio.nombre"></app-navbar>
    <div class="container-fluid mt-1  ">



        <div class="row mt-2">

            <div class="col s12 ">

                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test1">Clientes y Proveedores</a></li>
                    
                </ul>

            </div>

            <div id="test1" class="col s12">
            
                <div class="input-field col l4 offset-l8 m6 offset-m6  s12  ">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" [(ngModel)]="filtro">
                    <label for="icon_prefix">Buscar</label>
                </div>

                <form class="col l12 " [formGroup]="formGroup" (ngSubmit)="salvarCambios()">


                    <table class="table striped ">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" width="80px">
                                    <button type="button" class="btn blue"
                                        *ngIf="formGroup.value.id=='' || !formGroup.value.id"
                                        (click)='nuevo({ "id": "0", "giro": "", "nombre": "", "cliente": "", "direccion": "", "municipio": "", "departamento": "", "nit": "", "registro": "",  "telefono": "", "whatsapp": "" })'>
                                        <i class="material-icons ">add</i>
                                    </button>
                                </th>
                                <th scope="col">Datos del socio</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Telefono</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <ng-container *ngFor="let d of clientes | filter:filtro">
                                <tr *ngIf="d.id == formGroup.value.id"
                                    [ngClass]="{'bg-warning':d.id == formGroup.value.id}">
                                    <td>
                                        <button type="button" class="btn black" (click)="nuevo(d)"
                                            *ngIf="d.id != formGroup.value.id">
                                            <i class="material-icons ">edit</i>
                                        </button>

                                        <button type="button" class="btn black"
                                            *ngIf="d.id == formGroup.value.id" (click)="salvarCambios()">
                                            <i class="material-icons ">save</i>
                                        </button>

                                        <button type="button" class="btn red ml-1"
                                            *ngIf="d.id == formGroup.value.id" (click)="cancelar()">
                                            <i class="material-icons ">cancel</i>
                                        </button>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" formControlName="nit"
                                            placeholder="NIT ó DUI">

                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="registro" placeholder="Registro">

                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="cliente" placeholder="Nombre del cliente">

                                        <input type="text" class="form-control form-control-sm" formControlName="giro"
                                            placeholder="Giro Principal">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="direccion" placeholder="Dirección">

                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="municipio" placeholder="Municipio">

                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="departamento" placeholder="Departamento">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="telefono" placeholder="Telefono">
                                    </td>

                                </tr>

                                <tr *ngIf="d.id != formGroup.value.id">
                                    <td>
                                        <button type="button" class="btn black" (click)="nuevo(d)"
                                            *ngIf="formGroup.value.id == null || formGroup.value.id =='' ">
                                            <i class="material-icons ">edit</i>
                                        </button>


                                       <!--  <button type="button" class="btn red ml-1"
                                            *ngIf="formGroup.value.id == null || formGroup.value.id =='' " disabled>
                                            <i class="material-icons ">cancel</i>
                                        </button> -->
                                    </td>
                                    <td>
                                        <input readonly type="text" class="form-control form-control-sm" name="nit"
                                            [(ngModel)]="d.nit" [ngModelOptions]="{standalone: true}">

                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.registro" [ngModelOptions]="{standalone: true}">

                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.cliente" [ngModelOptions]="{standalone: true}">

                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.giro" [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td>
                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.direccion" [ngModelOptions]="{standalone: true}">

                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.municipio" [ngModelOptions]="{standalone: true}">

                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.departamento" [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td>
                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="d.telefono" [ngModelOptions]="{standalone: true}">
                                    </td>

                                </tr>

                            </ng-container>

                            <tr *ngIf="(clientes | filter:filtro).length==0">
                                <td class="text-center" colspan="10">
                                    No hay registros
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div id="test2" class="col s12">
               
            </div>




        </div>


    </div>

    <app-footer></app-footer>
</main>


<!-- Modal -->
<div class="modal  fade" id="modalFormProducto" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="modal-dialog modal-lg" [formGroup]="formGroup" (ngSubmit)="salvarCambios()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="staticBackdropLabel">Producto</h5>
                <button type="button" class="close" (click)="cerrarModalFormulario()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12 form-group">
                        <label for="nombre" class="text-secondary">Nombre del producto</label>
                        <input type="text" class="form-control form-control-sm" name="nombre" formControlName="nombre">
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" (click)="cerrarModalFormulario()">
                    <i class="fa fa-close" aria-hidden="true"></i>
                    Cerrar
                </button>
                <button type="submit" class="btn btn-sm btn-dark">
                    <i class="fa fa-save" aria-hidden="true"></i>
                    Guardar Cambios
                </button>
            </div>
        </div>
    </form>
</div>