<div class="row">
    <div class="input-field col s12">
        <h3 class="pink-text">Asociar Inventario </h3>
    </div>

    <div class="input-field col l6 offset-l6 m6 offset-m6  s12  ">
        <i class="material-icons prefix">qr_code_scanner</i>
        <input id="icon_prefix" type="text" [(ngModel)]="filtro">
        <label for="icon_prefix">Buscar</label>
    </div>

    <button type="button" class="btn waves-effect waves-light col s12 grey " (click)="clickSalir.emit(null)">
        Cancelar
        <i class="material-icons right">close</i>
    </button>

    <ng-container *ngIf="(inventarios| filter : filtro).length!=0">
        <div class="col l4 m6  s6 " *ngFor="let d of inventarios | filter : filtro">
            <app-card-producto-cantidad [producto]="d" [mostrarInput]="true" [mostrarBoton]="true" [textoBoton]="'Asociar'"
                (clickBoton)="asociar($event)"></app-card-producto-cantidad>
        </div>
    </ng-container>

    <div class="col s12 center grey lighten-4" *ngIf="(inventarios| filter : filtro).length==0">
        <br><br>
        <h5>No hay registros...</h5>
        <br><br>
    </div>
</div>