/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, Helvetica, sans-serif;

}

.logo {
    height: 100px;
    display: block;
    margin: auto;
}

.logo-app {
    height: 20px;
    display: block;
    margin: auto;
}

.form-control,
.btn,
.card {
    border-radius: 0px;
}



div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #414141 !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(255 255 255 / 50%) !important;
}

.bg-light {
    //  background-color: #ffffff !important;
}

._css-fakebm {
    background-color: #FFFFFF;
    border-bottom: 4px solid #E2E2E2;
    box-sizing: border-box;
    height: calc(60px);
    position: relative;
    width: 100%;
}

.dropdown-menu {
    min-width: 17rem;
}

.title {
    color: #414141;
    font-size: 25px;
    letter-spacing: 3px;
}

.breadcrumb-item>a {
    color: #414141;
    font-size: 14px;
    letter-spacing: 3px;
}

.hover:hover {
    color: #fff;
    background: #414141;
    cursor: pointer;
}

.thead-white {
    background-color: #fff !important;
}

.i-link {
    cursor: pointer;
}

.text-min {
    font-size: 14px;

}

.logoapp {
    font-size: 22px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    color: #414141;
    text-align: center;
    font-weight: 700;

}

.v {
    display: inline-block;
    transform: rotate(180deg) !important;
    /* Rota 180 grados */
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #343a40;
}

.ngx-pagination .current {
    background: #343a40 !important;
}