header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}

.mt-1 {
  margin-top: 1%;
}

.mt-2 {
  margin-top: 2%;
}

.mt-3 {
  margin-top: 3%;
}

.mt-5 {
  margin-top: 5%;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Ancho del scrollbar */
}

/* Track (el fondo del scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color de fondo del track */
  border-radius: 6px;
  /* Radio de los bordes */
}

/* Thumb (el "mango" del scrollbar) */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  /* Color del thumb */
  border-radius: 6px;
  /* Radio de los bordes */
}

/* Cuando se pasa el mouse sobre el thumb */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
  /* Cambiar el color al pasar el mouse */
}

.tabs .indicator {
  background-color: #767676 !important;
}

.cursor{
  cursor: pointer;
}

.card  :hover{
  background: #f9faff;
}